.main-button {
    -fx-background-color: #92AA83;
}

.main-button:hover {
    -fx-background-color: #A9C4A6;
}

.default-button {
    -fx-background-color: #92AA83;
}

.default-button:hover {
    -fx-background-color: #A9C4A6;
}

.titled-pane .title {
    -fx-pref-width: 750px; /* Set the preferred width */
    -fx-background-color: #B0BEA9; /* Set the background color */
    -fx-border-color: black;
}

.titled-pane {
    -fx-background-color: #92AA83;
}

.titled-pane:hover {
    -fx-background-color: #A9C4A6;
}